#note-options{
    section{
        width:30%;
        display: inline-block;
        margin-right: 3%;
    }
}
.two-element-selection{
    section{
        width:30%;
        display: inline-block;
        margin-right: 3%;
    }
}
